In [1]:
#Step 1 import library
import pandas as pd

In [2]:
#step 2 imprt csv as dataframe
placement=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Placement.csv')

In [3]:
placement.head()

   Student_ID  CGPA   IQ  Placement
0           1   6.8  123          1
1           2   5.9  106          0
2           3   5.3  121          0
3           4   7.4  132          1
4           5   5.8  142          0

In [4]:
placement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  100 non-null    int64
 1   CGPA        100 non-null    float64
 2   IQ          100 non-null    int64
 3   Placement   100 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 3.2 KB

In [5]:
#summary statestics
placement.describe()

       Student_ID        CGPA          IQ   Placement
count  100.000000  100.000000  100.000000  100.000000
mean    50.500000    5.991000  123.580000    0.500000
std     29.011492    1.143634   39.944198    0.502519
min      1.000000    3.300000   37.000000    0.000000
25%     25.750000    5.075000  101.500000    0.000000
50%     50.500000    6.000000  127.500000    0.500000
75%     75.250000    6.900000  149.000000    1.000000
max    100.000000    8.500000  233.000000    1.000000

In [6]:
placement.columns

Index(['Student_ID', 'CGPA', 'IQ', 'Placement'], dtype='object')

In [7]:
placement.shape

(100, 4)

In [8]:
#step 3: define y,X
y=placement['Placement']
X=placement[['Student_ID','CGPA','IQ']]

In [9]:
X.shape

(100, 3)

In [30]:
X

    Student_ID  CGPA   IQ
0            1   6.8  123
1            2   5.9  106
2            3   5.3  121
3            4   7.4  132
4            5   5.8  142
..         ...   ...  ...
95          96   4.3  200
96          97   4.4   42
97          98   6.7  182
98          99   6.3  103
99         100   6.2  113

[100 rows x 3 columns]

    Student_ID  CGPA   IQ
0            1   6.8  123
1            2   5.9  106
2            3   5.3  121
3            4   7.4  132
4            5   5.8  142
..         ...   ...  ...
95          96   4.3  200
96          97   4.4   42
97          98   6.7  182
98          99   6.3  103
99         100   6.2  113

[100 rows x 3 columns]

In [10]:
y.shape

(100,)

In [ ]:
y

In [11]:
#step4:split data
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [14]:
X_train.shape

(75, 3)

In [16]:
X_test.shape

(25, 3)

In [19]:
#step 5 select model
from sklearn.linear_model import LinearRegression
model= LinearRegression()

In [20]:
#step 6: train model(fit mode)
model.fit(X_train,y_train)

LinearRegression()

In [21]:
model.intercept_

-1.669848781234918

In [22]:
model.coef_

array([ 1.75106676e-03,  3.54855948e-01, -2.77353971e-04])

In [33]:
#step 7: predict
y_pred=model.predict(X_test)

In [34]:
y_pred.shape

(25,)

In [35]:
y_pred

array([ 1.164469  ,  0.26156953, -0.26010803,  1.10260442,  0.77179133,
        0.11911932,  0.30774242,  0.79630357,  0.99116828,  0.29648389,
        0.10357367, -0.00796243,  0.64231066,  0.78111169,  0.28829979,
        0.10096619,  0.19077573,  0.01586998,  0.21479936,  0.00603659,
        0.08540833,  0.18160571,  0.230585  , -0.40317203,  1.04331515])

In [24]:
model.predict(X_train)

array([ 0.83561121,  1.01625445,  0.49247104,  0.47031327,  0.04953841,
       -0.03133659,  0.71080819,  0.25675805,  0.58423858,  1.05345024,
        0.45479798,  1.04583819,  0.84682186,  1.10884704,  0.46606771,
        0.82881219,  0.86935275,  0.65843105,  1.32341773,  0.14304299,
        1.07766779,  0.049722  ,  0.6756904 ,  1.43571897,  0.6106411 ,
        0.15642039,  0.16078764,  0.32542597,  0.65484548,  1.22969919,
        0.18466092,  0.47749744,  0.66062985,  0.83337586,  0.18258111,
        0.07593742,  0.91021154,  1.27401405,  0.52153062,  0.71053184,
        1.25040078,  0.14990311,  0.76139521,  0.78124821,  0.39790393,
        0.92647878,  0.54131401,  0.13912186,  0.20122123,  0.84627147,
        0.8767083 ,  0.00819101,  0.85841245,  0.36028394,  0.59357116,
        0.47392488,  0.12471948,  0.75183836,  0.84692013, -0.51806073,
       -0.24489012,  1.05609427,  0.17381276,  0.10746013,  0.80622822,
        0.37879004,  0.11966802,  0.67402377,  0.7197279 ,  0.70222074,
        0.4928667 ,  0.35768679, -0.15040293,  0.46726488,  0.5765553 ])

In [38]:
#get future prediction
X_new=placement.sample(1)

In [39]:
X_new

    Student_ID  CGPA   IQ  Placement
60          61   6.9  139          1

In [26]:
#step 8: error
from sklearn.metrics import mean_absolute_percentage_error

In [40]:
mean_absolute_percentage_error(y_test,y_pred)

553776665213809.1